
<ul th:each="answer:${answers}" style="list-style-type: none;padding:0"
    xmlns:th="http://www.w3.org/1999/xhtml">
    <li>
        <div style="margin-top: 20px">
            <div class="panel-body">
                <div class="col-md-1 leftSideOfTab">
                    <div class="row justify-content-around">
                        <div class="row center-block">
                            <button th:id="'likea='+${answer.id}" onClick="reply_click(this.id)">
                                <i class="fa fa-thumbs-o-up"></i>
                            </button>
                        </div>
                        <div class="row center-block">
                            <label id="totalLike" th:value="${answer.likes}" th:text="${answer.likes}">1325</label>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="row row center-block">
                            <button th:id="'dislike='+${answer.id}" onclick="reply_click(this.id)">
                                <i class="fa fa-thumbs-o-down"></i>
                            </button>
                        </div>
                        <div class="row center-block">
                            <label id="totalDisLike" th:value="${answer.dislikes}" th:text="${answer.dislikes}">143</label>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="row row center-block">
                            <button>
                                <i class="fa fa-child"></i>
                            </button>
                        </div>
                        <div class="row center-block">
                            <label th:text="${answer.user}"></label>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="row row center-block">
                            <button type="button" id="commentButton">
                                <i class="fa fa-comment"></i>
                            </button>
                        </div>
                        <div class="row center-block">
                            <label th:text="#{label.comment}">Comment</label>
                        </div>
                    </div>


                </div>
                <div class="col-md-11 rightSideOfTab">
                    <h4 th:text="${answer.content}">

                    </h4>
                </div>

                </div>

            </div>
            <div class="panel-body">
                <div id="comments">

                </div>
            </div>
        </div>
<!--        ====================== Add comment form (default hidden) ==============================-->
        <div id="addCommentForm" class="row "  >

        </div>
<!--       ===================== Comments for the answers =============================-->
        <script th:inline="javascript">
            var answerId=[[${answer.id}]];
            var sUrl ="/answer/"+answerId+"/comments";

            $.get(sUrl, function(data) {
                $('#comments').html(data);
            });
        </script>
        <script th:inline="javascript">
            var answerId=[[${answer.id}]]
            var sUrl ="/answer/"+answerId+"/comment/0/save";
            $("#commentButton").on("click",function () {
                sUrl ="/answer/"+answerId+"/comment/0/save";
                $.get(sUrl, function(data) {
                    $('#addCommentForm').html(data);
                });
            });

            $.get(sUrl, function(data) {
                $('#addCommentForm').html(data);
            });
        </script>
    </li>


</ul>
<hr>
<!--<script type="text/javascript">

    document.getElementById("commentButton").onclick = function() {
        var x = document.getElementById("addCommentForm");
        if (x.style.display == "none") {
            x.style.display = "block";
        }
        else{
            x.style.display = "none";
        }
    }


</script>-->

<script>
    function reply_click(clicked_id)
    {
        alert(clicked_id);
        var splitted=clicked_id.split("=");
        var answerId=splitted[1];
        if(splitted[0]=='likea'){
            $.ajax({
                type:'post',
                data:{answerId:answerId},
                url:"/api/answer/like",
                success:function (data) {
                    var sm=data.split("=");
                    $("#totalLike").text(sm[0]);
                    $("#totalDisLike").text(sm[1]);
                }
            });
        }
        else if(splitted[0]=='dislike'){
            $.ajax({
                type:'post',
                data:{answerId:answerId},
                url:"/api/answer/dislike",
                success:function (data) {
                    var sm=data.split("=");
                    $("#totalLike").text(sm[0]);
                    $("#totalDisLike").text(sm[1]);
                }
            });
        }

    }
</script>