<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Questions</title>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>
<section class="body">

    <!-- start: header -->
    <div th:replace="layout/header"/>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <div th:replace="layout/sidebar"/>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2 sec:authorize="hasAnyAuthority('ROLE_LAWYER','ROLE_USER')"><a th:href="@{/question/0/save}" type="button" class="btn btn-success">Ask question</a></h2>
                <a  class="btn btn-secondary btn-warning mt-sm" th:href="@{/question/most/viewed}">Most Viewed Questions</a>
                <div class="right-wrapper pull-right btn-group col-sm-4" style="padding: 8px 0px">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="catSearch" placeholder="Search...">
                        <span class="input-group-btn">
              </span>
                    </div>

                    <!--<button type="button" class="btn btn-secondary">Most Liked</button>-->
                    <!--<button type="button" class="btn btn-secondary">Newest</button>-->
                    <!--<button type="button" class="btn btn-secondary">Unanswered</button>-->

                </div>
            </header>

            <!-- start: page -->
            <div id="content"></div>
            <!-- end: page -->
        </section>
    </div>

    <!-- Vendor -->
    <script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/nanoscroller/nanoscroller.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/assets/vendor/magnific-popup/magnific-popup.js}"></script>
    <script th:src="@{/assets/vendor/jquery-placeholder/jquery.placeholder.js}"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script th:src="@{/assets/javascripts/theme.js}"></script>

    <!-- Theme Custom -->
    <script th:src="@{/assets/javascripts/theme.custom.js}"></script>

    <!-- Theme Initialization Files -->
    <script th:src="@{/assets/javascripts/theme.init.js}"></script>

    <script th:inline="javascript">
        var catId=[[${categoryId}]];
        var str=$("#catSearch").val();
        if($("#catSearch").val()==""){
            str=" ";
        }
        var sUrl;
        if(catId==null){
            sUrl ="/question/"+str+"/search";
        }
        else {
            sUrl ="/question/category/"+catId+"/"+str+"/search";
        }

        $("#catSearch").on("input",function () {
            var str=$("#catSearch").val();
            if($("#catSearch").val()==""){
                str=" ";
            }
            if(catId==null){
                sUrl ="/question/"+str+"/search";
            }
            else{
                sUrl ="/question/category/"+catId+"/"+str+"/search";
            }
            $.get(sUrl, function(data) {
                $('#content').html(data);
            });
        });

        $.get(sUrl, function(data) {
            $('#content').html(data);
        });
    </script>
</section>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
