<ul style="list-style-type: none;" xmlns:th="http://www.w3.org/1999/xhtml">
    <li>
        <div class="row">
            <div class="col-xs-12 col-md-12" th:each="question:${questions}">
                <section class="panel panel-featured panel-featured-primary">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <a th:href="@{/question/__${question.id}__/view}"><h2 class="panel-title" th:text="${question.title}"></h2></a>
                    </header>
                    <div>
                        <div class="panel-body ">
                            <p th:text="${question.content}"></p>
                            <div class="container">
                                <div class="row justify-content-around">
                                    <input hidden="hidden" th:value="${question.id}" id="questionId">
                                    <div class="col-xs-2 col-md-2">
                                        <button>
                                            <i class="fa fa-thumbs-o-up" id="likeQuestion"></i>
                                        </button>
                                        <label id="totalLike" th:value="${question.likes}" th:text="${question.likes}">1325</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button>
                                            <i class="fa fa-thumbs-o-down" id="disLikeQuestion"></i>
                                        </button>
                                        <label id="totalDisLike" th:value="${question.dislikes}" th:text="${question.dislikes}">232</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button>
                                            <i class="fa fa-check-square-o"></i>
                                        </button>
                                        <label th:text="${question.answers}">53 Answers</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button>
                                            <i class="fa fa-user"></i>
                                        </button>
                                        <label th:text="${question.user}">53 Answers</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button>
                                            <i class="fa fa-calendar-o"></i>
                                        </button>
                                        <label th:text="${#dates.format(question.date,'dd-MM-yyyy')}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </li>

    <script th:inline="javascript">
        var userExist=[[${@userService.findUserByUsername(#authentication.name)}]];
        if(userExist!=null){
        var userId=[[${@userService.findUserByUsername(#authentication.name).getId()}]];
        var questionId=$("#questionId").val();
        $("#likeQuestion").on("click",function () {
            alert("like");
            $.ajax({
                type:'post',
                data:{questionId:questionId,userId:userId},
                url:"/api/question/like",
                success:function (data) {
                    if(data=="ok"){
                        $("#totalLike").text($("#totalLike").val()+1);
                        $("#totalDisLike").text($("#totalDisLike").val()-1);
                    }
                }
            });
        });

        $("#disLikeQuestion").on("click",function () {
            alert("dis");
            $.ajax({
                type:'post',
                data:{questionId:questionId,userId: userId},
                url:"/api/question/dislike",
                success:function (data) {
                    if(data=="ok"){
                        $("#totalDisLike").text($("#totalDisLike").val()+1);
                        $("#totalLike").text($("#totalLike").val()-1);
                    }
                }
            });
        });
        }
    </script>
</ul>