<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Online Law Consultant</title>
    <div th:replace="fragment/header :: header-css"/>

</head>
<body>
<section class="body">

    <!-- start: header -->
    <div th:replace="layout/header"/>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">

            <div class="sidebar-header">
                <div class="sidebar-title">
                    Navigation
                </div>
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">
                        <ul class="nav nav-main">
                            <li>
                                <a th:href="@{/}">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>Главное</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/news}">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <span>Новости</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/question/list}">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    <span>Вопросы</span>
                                </a>
                            </li>

                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-th-list" aria-hidden="true"></i>
                                    <span>Категории</span>
                                </a>
                                <ul class="nav nav-children" th:each="category:${categories}">
                                    <li>
                                        <a th:href="@{/question/__${category.id}__/list}" th:text="${category.name}">
                                            Административное право
                                        </a>
                                    </li>
                                    <!--<li>-->
                                    <!--<a href="forms-advanced.html">-->
                                    <!--Уголовное право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="forms-validation.html">-->
                                    <!--Гражданское право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="forms-validation.html">-->
                                    <!--Налоговое право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/aboutus}">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>О нас</span>
                                </a>
                            </li>


                        </ul>
                    </nav>

                    <hr class="separator" />
                </div>
            </div>
        </aside>
        <!-- end: sidebar -->
        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Sign Up</h2>

                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a th:href="@{/}">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>

                        </li>
                    </ol>

                    <!--<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>-->
                </div>
            </header>
            <!--start content-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <div class="panel-body">
                    <form class="form-horizontal form-bordered" th:object="${user}" method="post" th:action="@{/user/save}">
                        <input hidden="hidden" type="text" name="id" th:field="*{id}">
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">
                                <div class="input-group mb-md">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input name="username" type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="input-group mb-md">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>
                                    <input id="pass" name="encryted_password" type="text" class="form-control" placeholder="Password">
                                </div>
                                <div class="input-group mb-md">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>
                                    <input id="confirm" type="text" class="form-control" placeholder="Confirm password">
                                </div>
                                <div class="input-group mb-md">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input name="email" type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="input-group mb-md">
                                    <span class="input-group-addon">
                                        <!--<i class="fa fa-envelope"></i>-->
                                    </span>
                                    <input name="name" type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="input-group mb-md">
                                    <span class="input-group-addon">
                                        <!--<i class="fa fa-envelope"></i>-->
                                    </span>
                                    <input name="surname" type="text" class="form-control" placeholder="Surname">
                                </div>
                                <div class="input-group mb-md">
                                    <span class="input-group-addon">
                                        <i class="fa fa-mobile"></i>
                                    </span>
                                    <input name="phone_number" type="text" class="form-control" placeholder="Phone number">
                                </div>
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                            Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                            Female
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                    </section>
                </div>
            </div>
        </section>
        <!--end content-->
    </div>


    <!-- Vendor -->
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script th:src="@{/assets/javascripts/theme.js}"></script>

    <!-- Theme Custom -->
    <script th:src="@{/assets/javascripts/theme.custom.js}"></script>

    <!-- Theme Initialization Files -->
    <script th:src="@{/assets/javascripts/theme.init.js}"></script>

</section>
<script>
    $("#confirmPass").on("input",function () {
        if($("#newPass").val()==$("#confirmPass").val()){
            // $("#changeBtn").enabled();
            $('#changeBtn').removeAttr('disabled');
        }
    });
</script>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
