<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>About Us</title>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>
<section class="body">

    <!-- start: header -->
    <div th:replace="layout/header"/>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <div th:replace="layout/sidebar"/>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>About Us</h2>


            </header>

            <!-- start: page -->
            <ul style="list-style-type: none;" th:each="question:${questions}">
                <li>
                    <div class="row">
                        <div class="col-xs-12 col-md-12" >
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                        <a href="#" class="fa fa-caret-down"></a>
                                        <a href="#" class="fa fa-times"></a>
                                    </div>

                                    <h2 class="panel-title" th:text="${question.title}">Lorem ipsum dolor sit amet, consectetur</h2>
                                </header>
                                <div>
                                    <div class="panel-body ">
                                        <p th:text="${content.text}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum, sapiente magnam necessitatibus fuga! Dolor vel rem autem laboriosam architecto ipsa, eos impedit nihil dignissimos quidem optio aspernatur sit nobis consequuntur in, nostrum cupiditate inventore delectus facere quibusdam. Quaerat eligendi aliquam minus similique corrupti qui nihil sunt nisi eos sit.</p>
                                        <div class="container">
                                            <div class="row justify-content-around">
                                                <div class="col-xs-3 col-md-2">
                                                    <button>
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                    </button>
                                                    <label>1325</label>
                                                </div>
                                                <div class="col-xs-3 col-md-2">
                                                    <button>
                                                        <i class="fa fa-thumbs-o-down"></i>
                                                    </button>
                                                    <label>232</label>
                                                </div>
                                                <div class="col-xs-3 col-md-2">
                                                    <button>
                                                        <i class="fa fa-check-square-o"></i>
                                                    </button>
                                                    <label>53 Answers</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- end: page -->
            <div>
                <h2>About us</h2>
                <p>The purpose of the Online Law Consultant website (OLC) is to create an online platform that helps citizens 
                    easily get legal consulting from qualified lawyers, and as for lawyers they will be able to find new clients 
                    and interact effectively with them. This will make the cooperation between both sides as comfortable and simple 
                    as possible, which will allow to improve quality of the legal services in Kyrgyzstan.</p>
                <p>Often only few citizens understand the law, their rights and sometimes even amendments to the laws contradict each
                    other or have different interpretations. Therefore, amateurs can make many mistakes that can affect their business 
                    for example. So they need providing of legal advice by thoroughly investigating their matters. They faced with the
                    problems when they don't ensure if they are in right standing with the law. Therefore, Help of lawyer will save from
                    unnecessary problems in disputes related to real estate, inheritance, contract development and much more. Anyway, 
                    there are a number of factors that disturb free and comfortable communication between lawyers and citizens: Not all 
                    people have enough time to search and visit a lawyer advisor. Many are not aware of this area and do not risk. 
                    There are those who want to save money by underestimating the work of a lawyer and overestimating their capabilities.
                    Quick and easy access to law services and information about them could significantly increase the number of people 
                    who want to get advice, and therefore the number of people who have successfully resolved legal issues.</p>
            </div>
            
            
           <div id="content-wrapper">
                <section id="services" class="white">
                    <div class="container-fluid">
                        <div class="gap"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="center gap fade-down section-heading">
                                    <h2 class="main-title">Our Services</h2>
                                    <hr>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <img src="assets/images/ask.png" alt="Image"/>
                                    </div>
                                    <div class="media-body fade-up">

                                        <p>
                                            A quick and easy way to ask a question and answer a question.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <img src="assets/images/open.png" alt="Image"/>
                                    </div>
                                    <div class="media-body fade-up">

                                        <p>Open access to all questions asked in the past and answers to them.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <img src="assets/images/badge.png" alt="Image"/>
                                    </div>
                                    <div class="media-body fade-up">

                                        <p>Multifunctional modern website with likes, sorting, search bar and etc.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                        </div><!--/.row-->
                        <div class="gap"></div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <img src="assets/images/document.png" alt="Image"/>
                                    </div>
                                    <div class="media-body fade-up">

                                        <p>Feedback from administrators in case of problems with the site.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <img src="assets/images/legal.png" alt="Image"/>
                                    </div>
                                    <div class="media-body fade-up">

                                        <p>The opportunity to get an answer from highly qualified specialists in the legal field.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <img src="assets/images/passport.png" alt="Image"/>
                                    </div>
                                    <div class="media-body fade-up">

                                        <p>Multilingual web-application: English, Russian, Kyrgyz.</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                        </div><!--/.row-->
                    </div>
        </section>
    </div>
        
    
    
    


    <!-- Vendor -->
    <script src="assets/vendor/jquery/jquery.js"></script>
    <script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script src="assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="assets/javascripts/theme.init.js"></script>

</section>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
