<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>About Us</title>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>
<section class="body">

    <!-- start: header -->
    <div th:replace="layout/header"/>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">

            <div class="sidebar-header">
                <div class="sidebar-title">
                    Navigation
                </div>
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">
                        <ul class="nav nav-main">
                            <li>
                                <a th:href="@{/}">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>Главное</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/news}">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <span>Новости</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/question/list}">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    <span>Вопросы</span>
                                </a>
                            </li>

                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-th-list" aria-hidden="true"></i>
                                    <span>Категории</span>
                                </a>
                                <ul class="nav nav-children" th:each="category:${categories}">
                                    <li>
                                        <a th:href="@{/question/__${category.id}__/list}" th:text="${category.name}">
                                            Административное право
                                        </a>
                                    </li>
                                    <!--<li>-->
                                    <!--<a href="forms-advanced.html">-->
                                    <!--Уголовное право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="forms-validation.html">-->
                                    <!--Гражданское право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="forms-validation.html">-->
                                    <!--Налоговое право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/aboutus}">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>О нас</span>
                                </a>
                            </li>


                        </ul>
                    </nav>

                    <hr class="separator" />
                </div>
            </div>
        </aside>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>About Us</h2>


            </header>

            <!-- start: page -->
            <ul style="list-style-type: none;" th:each="question:${questions}">
                <li>
                    <div class="row">
                        <div class="col-xs-12 col-md-12" >
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                        <a href="#" class="fa fa-caret-down"></a>
                                        <a href="#" class="fa fa-times"></a>
                                    </div>

                                    <h2 class="panel-title" th:text="${question.title}">Lorem ipsum dolor sit amet, consectetur</h2>
                                </header>
                                <div>
                                    <div class="panel-body ">
                                        <p th:text="${content.text}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum, sapiente magnam necessitatibus fuga! Dolor vel rem autem laboriosam architecto ipsa, eos impedit nihil dignissimos quidem optio aspernatur sit nobis consequuntur in, nostrum cupiditate inventore delectus facere quibusdam. Quaerat eligendi aliquam minus similique corrupti qui nihil sunt nisi eos sit.</p>
                                        <div class="container">
                                            <div class="row justify-content-around">
                                                <div class="col-xs-3 col-md-2">
                                                    <button>
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                    </button>
                                                    <label>1325</label>
                                                </div>
                                                <div class="col-xs-3 col-md-2">
                                                    <button>
                                                        <i class="fa fa-thumbs-o-down"></i>
                                                    </button>
                                                    <label>232</label>
                                                </div>
                                                <div class="col-xs-3 col-md-2">
                                                    <button>
                                                        <i class="fa fa-check-square-o"></i>
                                                    </button>
                                                    <label>53 Answers</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- end: page -->
            <div>
                <h2>About us</h2>
                <p>Lorem ipsum</p>
            </div>
        </section>
    </div>


    <!-- Vendor -->
    <script src="assets/vendor/jquery/jquery.js"></script>
    <script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script src="assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="assets/javascripts/theme.init.js"></script>

</section>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
