<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Online Law Consultant</title>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>
<section class="body">

    <!-- start: header -->
    <div th:replace="layout/header"/>
    <!-- end: header -->

    <div class="inner-wrapper">
        <div th:replace="layout/sidebar"/>

        <section role="main" class="content-body">
            <header class="page-header">
                <h2><a th:href="@{/question/0/save}" type="button" class="btn btn-success">Ask question</a>
                </h2>
                <!-- Ask Question Modal -->
                <div class="modal fade" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle">Ask question</h3>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/question/save}" th:object="${question}" method="post">
                                    <input type="text" name="id" class="form-control hidden" />
                                    Subject:<br>
                                    <input type="text" name="title" class="form-control" placeholder="Title" required/><br>
                                    Question:<br>
                                    <textarea name="content" rows="5" class="form-control" placeholder="Question content" required></textarea><br>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ask Question Modal End -->
                <div class="right-wrapper pull-right btn-group col-sm-4" style="padding: 8px 0px">

                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="search" placeholder="Search...">
                        <span class="input-group-btn">
              </span>
                    </div>
                    <!--<button type="button" class="btn btn-secondary">All questions</button>-->
                    <!--<button type="button" class="btn btn-secondary">Most Liked</button>-->
                    <!--<button type="button" class="btn btn-secondary">Newest</button>-->
                    <!--<button type="button" class="btn btn-secondary">Unanswered</button>-->

                </div>
            </header>

            <!-- start: page -->
            <div id="content"></div>
            <ul style="list-style-type: none;" >
                <!--<li>-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-12 col-md-12" >-->
                            <!--<section class="panel">-->
                                <!--<header class="panel-heading">-->
                                    <!--<div class="panel-actions">-->
                                        <!--<a href="#" class="fa fa-caret-down"></a>-->
                                        <!--<a href="#" class="fa fa-times"></a>-->
                                    <!--</div>-->

                                    <!--<h2 class="panel-title" th:text="${question.title}">Lorem ipsum dolor sit amet, consectetur</h2>-->
                                <!--</header>-->
                                <!--<div>-->
                                    <!--<div class="panel-body ">-->
                                        <!--<p th:text="${question?.content?.text}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum, sapiente magnam necessitatibus fuga! Dolor vel rem autem laboriosam architecto ipsa, eos impedit nihil dignissimos quidem optio aspernatur sit nobis consequuntur in, nostrum cupiditate inventore delectus facere quibusdam. Quaerat eligendi aliquam minus similique corrupti qui nihil sunt nisi eos sit.</p>-->
                                        <!--<div class="container">-->
                                            <!--<div class="row justify-content-around">-->
                                                <!--<div class="col-xs-3 col-md-2">-->
                                                    <!--<button>-->
                                                        <!--<i class="fa fa-thumbs-o-up"></i>-->
                                                    <!--</button>-->
                                                    <!--<label th:text="like"></label>-->
                                                <!--</div>-->
                                                <!--<div class="col-xs-3 col-md-2">-->
                                                    <!--<button>-->
                                                        <!--<i class="fa fa-thumbs-o-down"></i>-->
                                                    <!--</button>-->
                                                    <!--<label th:text="like">232</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-xs-3 col-md-2">-->
                                                    <!--<button>-->
                                                        <!--<i class="fa fa-check-square-o"></i>-->
                                                    <!--</button>-->
                                                    <!--<label></label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</section>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->

            </ul>
            <!-- end: page -->
        </section>
    </div>


    <!-- Vendor -->
    <script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/nanoscroller/nanoscroller.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/assets/vendor/magnific-popup/magnific-popup.js}"></script>
    <script th:src="@{/assets/vendor/jquery-placeholder/jquery.placeholder.js}"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script th:src="@{/assets/javascripts/theme.js}"></script>

    <!-- Theme Custom -->
    <script th:src="@{/assets/javascripts/theme.custom.js}"></script>

    <!-- Theme Initialization Files -->
    <script th:src="@{/assets/javascripts/theme.init.js}"></script>
    <script>
        var str=$("#search").val();
        if($("#search").val()==""){
            str=" ";
        }
        var sUrl ="/question/"+str+"/search";
        $("#search").on("input",function () {
            var str=$("#search").val();
            if($("#search").val()==""){
                str=" ";
            }
            sUrl ="/question/" +str+"/search";
            $.get(sUrl, function(data) {
                $('#content').html(data);
            });
        });

        $.get(sUrl, function(data) {
            $('#content').html(data);
        });
    </script>

</section>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
