<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>


    <title th:text="#{label.title}">News</title>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>
<section class="body">

    <!-- start: header -->
    <div th:replace="layout/header"/>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <div th:replace="layout/sidebar"/>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>News</h2>


            </header>

            <!-- start: page -->

            <!-- end: page -->



            <div class="container-fluid">
                <div class="row">
                    <div class="box-item col-lg-6 col-md-6">
                        <div class="box-post">

                            <h1 class="post-title" style="font-size: medium">
                                <a href="http://sadanbekov.kg/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/%D0%BA%D0%B0%D0%BA%D0%B8%D0%B5-%D0%B4%D0%B5%D0%BB%D0%B0-%D1%80%D0%B0%D1%81%D1%81%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D0%B2%D0%B0%D0%B5%D1%82-%D1%82%D1%80%D0%B5%D1%82%D0%B5%D0%B9%D1%81%D0%BA%D0%B8%D0%B9">
                                    Какие дела рассматривает третейский суд?
                                </a>
                            </h1>
                            <span class="meta">

                    </span>
                        </div>
                        <img src="assets/images/news1.jpg" alt="Why Palladio is the world's favourite 16th-century architect"
                             class="" style="width: 70%">
                    </div>
                        <div class="box-item col-lg-6 col-md-6">
                            <div class="box-post">
                   
                                <h1 class="post-title" style="font-size: medium">
                                    <a href="http://sadanbekov.kg/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/14-%D0%B8%D1%8E%D0%BB%D1%8F-%D0%B4%D0%B5%D0%BD%D1%8C-%D0%B0%D0%B4%D0%B2%D0%BE%D0%BA%D0%B0%D1%82%D1%83%D1%80%D1%8B-%D0%BA%D1%8B%D1%80%D0%B3%D1%8B%D0%B7%D1%81%D0%BA%D0%BE%D0%B9-%D1%80%D0%B5%D1%81">
                                        14 июля — День Адвокатуры Кыргызской Республики
                                    </a>
                                </h1>
                                <span class="meta">
                        
                    </span>
                            </div>
                            <img src="assets/images/news2.jpg" alt="City in the sky: world's biggest hotel to open in Mecca"
                                 class="" style="width: 70%">
                        </div>



                        <div class="box-item col-lg-6 col-md-6">
                            <div class="box-post">

                                <h1 class="post-title" style="font-size: medium">
                                    <a href="http://sadanbekov.kg/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/%D1%8E%D1%80%D0%B8%D1%81%D1%82%D1%8B-%D0%BA%D1%8B%D1%80%D0%B3%D1%8B%D0%B7%D1%81%D1%82%D0%B0%D0%BD%D0%B0-%D0%BF%D1%80%D0%B5%D0%B4%D0%BB%D0%B0%D0%B3%D0%B0%D1%8E%D1%82-%D0%BF%D1%80%D0%B8%D0%BD%D1%8F">
                                        Юристы Кыргызстана предлагают принять декларацию для внедрения системы бесплатной юридической помощи
                                    </a>
                                </h1>
                                <span class="meta">

                    </span>
                            </div>
                            <img src="assets/images/news3.jpg" alt="Return of the prefabs: inside Richard Rogers' Y:Cube homes for homeless people"
                                 class="" style="width: 70%">
                        </div>

                        <div class="box-item col-lg-6 col-md-6">
                            <div class="box-post">
                   
                                <h1 class="post-title" style="font-size: medium">
                                    <a href="http://sadanbekov.kg/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/%D1%83%D1%87%D1%80%D0%B5%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D1%81%D1%8A%D0%B5%D0%B7%D0%B4-%D0%B0%D0%B4%D0%B2%D0%BE%D0%BA%D0%B0%D1%82%D0%BE%D0%B2-%D0%BA%D1%8B%D1%80%D0%B3%D1%8B-2">
                                        Учредительный Съезд адвокатов Кыргызской Республики
                                    </a>
                                </h1>
                                <span class="meta">
                        
                    </span>
                            </div>
                            <img src="assets/images/news4.jpg" alt="The ‘sky pool’ is just the start: London prepares for a flood of bathing oligarchs"
                                 class="" style="width: 70%">
                        </div>

                        <div class="box-item col-lg-6 col-md-6">
                            <div class="box-post">
                   
                                <h1 class="post-title" style="font-size: medium">
                                    <a href="http://sadanbekov.kg/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/%D0%B3%D1%80%D0%B0%D0%B6%D0%B4%D0%B0%D0%BD%D0%B8%D0%BD-%D0%BB%D0%B0%D1%82%D0%B2%D0%B8%D0%B8-%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D0%BB-%D0%BF%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%BD%D1%8B%D0%B9">
                                        Гражданин Латвии получил постоянный вид на жительство в Кыргызской Республике
                                    </a>
                                </h1>
                                <span class="meta">
                        
                    </span>
                            </div>
                            <img src="assets/images/news5.jpg" alt="Carbuncle Cup: Walkie Talkie wins prize for worst building of the year"
                                 class="" style="width: 70%">
                        </div>

                    </div>

                        <div class="box-item col-lg-6 col-md-6">
                            <div class="box-post">
                   
                                <h1 class="post-title" style="font-size: medium">
                                    <a href="http://sadanbekov.kg/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8/2656">
                                        В Бишкеке обсуждают внедрение культуры Pro bono – системы бесплатной юридической помощи
                                    </a>
                                </h1>
                                <span class="meta">
                        
                    </span>
                            </div>
                            <img src="assets/images/news6.jpg" alt="'This design is total rubbish': Preston's majestic bus station gets a zombie makeover"
                                 class="" style="width: 70%">
                        </div>








        </section>
    </div>


    <!-- Vendor -->
    <script src="assets/vendor/jquery/jquery.js"></script>
    <script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script src="assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="assets/javascripts/theme.init.js"></script>

</section>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
