<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Online Law Consultant Rating Lawyers</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="assets/vendor/modernizr/modernizr.js"></script>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>

</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header">
        <div class="logo-container">
            <a href="../" class="logo">
                <img src="assets/images/logo2.png" height="35" alt="Porto Admin" />
            </a>
            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>

        <!-- start: search & user box -->
        <div class="header-right">

            <form action="pages-search-results.html" class="search nav-form">
                <div class="input-group input-search">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                    <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>

            <span class="separator"></span>

            <!-- Ask Question Modal -->
            <div class="modal fade" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Ask question</h3>
                        </div>
                        <div class="modal-body">
                            <form action="/action_page.php">
                                Subject:<br>
                                <input type="text" name="subject" class="form-control" placeholder="Type subject..." required/><br>
                                Question:<br>
                                <textarea rows="5" class="form-control" placeholder="Type your question..." required></textarea><br>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ask Question Modal End -->

            <span class="separator"></span>

            <div id="userbox" class="userbox">
                <div th:if="${user}!=null">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
                        </figure>
                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                            <span class="name" th:text="${user.name}+' '+${user.surname}"></span>
                            <span class="role" th:text="${user.userType}"></span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" th:href="@{/user/__${user.id}__/view}"><i class="fa fa-user"></i> My Profile</a>
                            </li>
                            <!--<li>-->
                            <!--<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>-->
                            <!--</li>-->
                            <li>
                                <a role="menuitem" tabindex="-1" th:href="@{/logout}"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div th:unless="${user}!=null">
                    <a th:href="@{/login}" type="button" class="btn btn-success" >Login</a>
                    <a th:href="@{/user/0/save}" type="button" class="btn btn-success" >Sign up!</a>
                </div>
            </div>
        </div>
        <!-- end: search & user box -->
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">

            <div class="sidebar-header">
                <div class="sidebar-title">
                    Navigation
                </div>
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">
                        <ul class="nav nav-main">
                            <li>
                                <a th:href="@{/}">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>Главное</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/news}">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <span>Новости</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/question/list}">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    <span>Вопросы</span>
                                </a>
                            </li>

                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-th-list" aria-hidden="true"></i>
                                    <span>Категории</span>
                                </a>
                                <ul class="nav nav-children" th:each="category:${categories}">
                                    <li>
                                        <a th:href="@{/question/__${category.id}__/list}" th:text="${category.name}">
                                            Административное право
                                        </a>
                                    </li>
                                    <!--<li>-->
                                    <!--<a href="forms-advanced.html">-->
                                    <!--Уголовное право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="forms-validation.html">-->
                                    <!--Гражданское право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="forms-validation.html">-->
                                    <!--Налоговое право-->
                                    <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/aboutus}">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>О нас</span>
                                </a>
                            </li>


                        </ul>
                    </nav>

                    <hr class="separator" />
                </div>
            </div>
        </aside>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Rating Page</h2>

                <div class="right-wrapper pull-right btn-group " style="padding: 8px 0px">
                    <button type="button" class="btn btn-secondary">Все вопросы</button>
                    <button type="button" class="btn btn-secondary">Most Liked</button>
                    <button type="button" class="btn btn-secondary">Newest</button>
                    <button type="button" class="btn btn-secondary">Unanswered</button>

                </div>
            </header>

            <!-- start: page -->
            <ul style="list-style-type: none;" th:each="question:${questions}">
                <li>
                    <div class="row">
                        <div class="col-xs-12 col-md-12" >
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                        <a href="#" class="fa fa-caret-down"></a>
                                        <a href="#" class="fa fa-times"></a>
                                    </div>

                                    <h2 class="panel-title" th:text="${question.title}">Lawyer Rating</h2>
                                </header>
                                <div>
                                    <div class="panel-body ">
                                        <table>
                                            <tr>
                                                <th>Firstname</th>
                                                <th>Lastname</th>
                                                <th>Email</th>
                                                <th>Phone number</th>
                                                <th>Rating</th>
                                            </tr>
                                            <tr>
                                                <td>Aba-Bakri</td>
                                                <td>Ibragimov</td>
                                                <td>ababakri.ibragimov@iaau.edu.kg</td>
                                                <td>0707965920</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Aba-Bakri</td>
                                                <td>Ibragimov</td>
                                                <td>ababakri.ibragimov@iaau.edu.kg</td>
                                                <td>0707965920</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Aba-Bakri</td>
                                                <td>Ibragimov</td>
                                                <td>ababakri.ibragimov@iaau.edu.kg</td>
                                                <td>0707965920</td>
                                                <td>5</td>
                                            </tr>
                                        </table>
                                        
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </li>

            </ul>
            <!-- end: page -->
        </section>
    </div>


    <!-- Vendor -->
    <script src="assets/vendor/jquery/jquery.js"></script>
    <script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script src="assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="assets/javascripts/theme.init.js"></script>

</section>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
