<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Law Consultant</title>
    <div th:replace="fragment/header :: header-css"/>
</head>
<body>
<section class="body">

    <!-- start: header -->
    <div th:replace="layout/header"/>
    <!-- end: header -->

    <div class="inner-wrapper">
        <div th:replace="layout/sidebar"/>

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Reviews</h2>
            </header>

            <!-- start: page -->
<!--  ============================= Comments List ========================================-->
<!--            <ul style="list-style-type: none;" >-->
<!--                <li>-->
<!--                    <div class="row">-->
<!--                        <div class="col-xs-12 col-md-12" >-->
<!--                            <section class="panel">-->
<!--                                <header class="panel-heading">-->
<!--                                    <div class="panel-actions">-->
<!--                                        <a href="#" class="fa fa-caret-down"></a>-->
<!--                                        <a href="#" class="fa fa-times"></a>-->
<!--                                    </div>-->

<!--                                    <div class="row">-->
<!--                                        <div class="col-md-1 col-sm-2 col-lg-1">-->
<!--                                            <img src="/assets/images/!sample-user.jpg" alt="photo" style="border-radius:50%;"/>-->
<!--                                        </div>-->
<!--                                        <div class="col">-->
<!--                                            <h4>Name Surname</h4>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </header>-->
<!--                                <div>-->
<!--                                    <div class="panel-body ">-->
<!--                                        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum, sapiente magnam necessitatibus fuga! Dolor vel rem autem laboriosam architecto ipsa, eos impedit nihil dignissimos quidem optio aspernatur sit nobis consequuntur in, nostrum cupiditate inventore delectus facere quibusdam. Quaerat eligendi aliquam minus similique corrupti qui nihil sunt nisi eos sit.</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </section>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <div class="row">-->
<!--                        <div class="col-xs-12 col-md-12" >-->
<!--                            <section class="panel">-->
<!--                                <header class="panel-heading">-->
<!--                                    <div class="panel-actions">-->
<!--                                        <a href="#" class="fa fa-caret-down"></a>-->
<!--                                        <a href="#" class="fa fa-times"></a>-->
<!--                                    </div>-->

<!--                                    <div class="row">-->
<!--                                        <div class="col-md-1 col-sm-2 col-lg-1">-->
<!--                                            <img src="/assets/images/!happy-face.png" alt="photo" style="border-radius:50%;"/>-->
<!--                                        </div>-->
<!--                                        <div class="col">-->
<!--                                            <h4>Name Surname</h4>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </header>-->
<!--                                <div>-->
<!--                                    <div class="panel-body ">-->
<!--                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum, sapiente magnam necessitatibus fuga! Dolor vel rem autem laboriosam architecto ipsa, eos impedit nihil dignissimos quidem optio aspernatur sit nobis consequuntur in, nostrum cupiditate inventore delectus facere quibusdam. Quaerat eligendi aliquam minus similique corrupti qui nihil sunt nisi eos sit.</p>-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                            </section>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->

<!--            </ul>-->
<!-- ===========================Start of rating ============================================-->
<!--                <div class="row">-->
<!--                    <div class="col-xs-3 col-md-3"></div>-->
<!--                    <div class="col-xs-12 col-md-6">-->
<!--                        <div class="well well-sm">-->
<!--                            <div class="row">-->
<!--                                <div class="col-xs-12 col-md-6 text-center">-->
<!--                                    <h1 class="rating-num">-->
<!--                                        3.0</h1>-->
<!--                                    <div class="rating">-->
<!--                                        <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">-->
<!--                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">-->
<!--                            </span><span class="glyphicon glyphicon-star-empty"></span>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <span class="glyphicon glyphicon-user"></span>1,050,008 total-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-xs-12 col-md-6">-->
<!--                                    <div class="row rating-desc">-->
<!--                                        <div class="col-xs-3 col-md-3 text-right">-->
<!--                                            <span class="glyphicon glyphicon-star"></span>5-->
<!--                                        </div>-->
<!--                                        <div class="col-xs-8 col-md-9">-->
<!--                                            <div class="progress progress-striped">-->
<!--                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"-->
<!--                                                     aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
<!--                                                    <span class="sr-only">20%</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; end 5 &ndash;&gt;-->
<!--                                        <div class="col-xs-3 col-md-3 text-right">-->
<!--                                            <span class="glyphicon glyphicon-star"></span>4-->
<!--                                        </div>-->
<!--                                        <div class="col-xs-8 col-md-9">-->
<!--                                            <div class="progress">-->
<!--                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"-->
<!--                                                     aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
<!--                                                    <span class="sr-only">60%</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; end 4 &ndash;&gt;-->
<!--                                        <div class="col-xs-3 col-md-3 text-right">-->
<!--                                            <span class="glyphicon glyphicon-star"></span>3-->
<!--                                        </div>-->
<!--                                        <div class="col-xs-8 col-md-9">-->
<!--                                            <div class="progress">-->
<!--                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"-->
<!--                                                     aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
<!--                                                    <span class="sr-only">40%</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; end 3 &ndash;&gt;-->
<!--                                        <div class="col-xs-3 col-md-3 text-right">-->
<!--                                            <span class="glyphicon glyphicon-star"></span>2-->
<!--                                        </div>-->
<!--                                        <div class="col-xs-8 col-md-9">-->
<!--                                            <div class="progress">-->
<!--                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"-->
<!--                                                     aria-valuemin="0" aria-valuemax="100" style="width: 20%">-->
<!--                                                    <span class="sr-only">20%</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; end 2 &ndash;&gt;-->
<!--                                        <div class="col-xs-3 col-md-3 text-right">-->
<!--                                            <span class="glyphicon glyphicon-star"></span>1-->
<!--                                        </div>-->
<!--                                        <div class="col-xs-8 col-md-9">-->
<!--                                            <div class="progress">-->
<!--                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"-->
<!--                                                     aria-valuemin="0" aria-valuemax="100" style="width: 15%">-->
<!--                                                    <span class="sr-only">15%</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; end 1 &ndash;&gt;-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; end row &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xs-3 col-md-3"></div>-->
<!--                </div>-->

<!--            ========================= end of rating ======================================================-->

            <div class="row">
                <div class="col-xs-2 col-md-1"></div>
                <div class="col-xs-8 col-md-10 " >
                    <form>
                        <section class="panel">
                            <header class="panel-heading">

                                <h2 class="panel-title">Leave Reviews</h2>

                            </header>

                            <div class="panel-body">
                                <div class="row form-group">
                                    <div class="col-lg-4">
                                        <input type="text" name="firstName" placeholder="First Name" class="form-control">
                                    </div>

                                    <div class="mb-md hidden-lg hidden-xl"></div>

                                    <div class="col-lg-4">
                                        <input type="text" name="lastName" placeholder="Last Name" class="form-control">
                                    </div>

                                    <div class="mb-md hidden-lg hidden-xl"></div>

                                    <div class="col-lg-4">
                                        <input type="email" name="email" placeholder="Your Email" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea class="form-control" rows="5" placeholder="Type your message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <button class="btn btn-primary">Add review</button>
                            </footer>
                        </section>
                    </form>
                    <div class="col-xs-2 col-md-1"></div>
                </div>
            </div>



                <!-- end: page -->
        </section>
    </div>


    <!-- Vendor -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="/assets/stylesheets/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script th:src="@{/assets/javascript/star.js}" type="text/javascript"></script>
    <script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/nanoscroller/nanoscroller.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/assets/vendor/magnific-popup/magnific-popup.js}"></script>
    <script th:src="@{/assets/vendor/jquery-placeholder/jquery.placeholder.js}"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script th:src="@{/assets/javascripts/theme.js}"></script>

    <!-- Theme Custom -->
    <script th:src="@{/assets/javascripts/theme.custom.js}"></script>

    <!-- Theme Initialization Files -->
    <script th:src="@{/assets/javascripts/theme.init.js}"></script>

</section>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
