<!DOCTYPE html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity5" xmlns:th="http://www.w3.org/1999/xhtml">
<head>


    <title th:text="#{label.techincal_support}">Technical Support</title>
    <div th:replace="fragment/header :: header-css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link th:href="@{/assets/stylesheets/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/vendor/pnotify/pnotify.custom.css}" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<section class="body">

    <!-- start: header -->
    <div th:replace="layout/header"/>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <div th:replace="layout/sidebar"/>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2 sec:authorize="hasRole('USER')">Technical Support</h2>


            </header>

            <!-- start: page -->

            <!-- end: page -->

<!--            =========================================== rating form ======================================-->


            <div class="row">
                <div class="col-xs-2 col-md-1"></div>
                <div class="col-xs-8 col-md-10">
                    <form th:object="${mistake}" th:action="@{/rating/save}" method="post">
                        <input hidden="hidden" type="text" name="id" th:value="${mistake.id}">
                        <section class="panel">
                            <header class="panel-heading">

                                <h2 class="panel-title">Please Rate our site</h2>

                            </header>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <h1 th:text="${rating}"></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="slider" type="range" name="rating" min="0" max="5" />
                                        <p id="demo"></p>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <button class="btn btn-primary" type="submit">Send</button>
                            </footer>
                        </section>
                    </form>
                </div>
                <div class="col-xs-2 col-md-1"></div>

            </div>

            <!--            ============================== Leave reviews =======================================-->
            <div class="row">
                <div class="col-xs-2 col-md-1"></div>
                <div class="col-xs-8 col-md-10">
                    <form th:object="${mistake}" th:action="@{/mistake/save}" method="post">
                        <input hidden="hidden" type="text" name="id" th:value="${mistake.id}">
                        <section class="panel">
                            <header class="panel-heading">

                                <h2 class="panel-title" th:text="#{label.add.technical}">Inform about mistakes on website</h2>

                            </header>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea name="text" type="text" class="form-control" rows="5" placeholder="Type your message" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <button class="btn btn-primary" type="submit">Send</button>
                            </footer>
                        </section>
                    </form>
                </div>
                <div class="col-xs-2 col-md-1"></div>

            </div>

            <div class="row">
                <div class="col-xs-2 col-md-1"></div>
                <div class="col-xs-8 col-md-10">
                    <form th:object="${mistake}" th:action="@{/mistake/save}" method="post">
                        <input hidden="hidden" type="text" name="id" th:value="${mistake.id}">
                        <section class="panel">
                            <header class="panel-heading">

                                <h2 class="panel-title">Please Rate our site</h2>

                            </header>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea name="text" type="text" class="form-control" rows="5" placeholder="Please rate from 1-5 " required></textarea>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <button class="btn btn-primary" type="submit">Evaluate</button>
                            </footer>
                        </section>
                    </form>
                </div>
                <div class="col-xs-2 col-md-1"></div><textarea name="text" type="text" class="form-control" rows="5" placeholder="Please rate from 1-5 " required></textarea>

            </div>

        </section>
    </div>

    <script>
        var slider = document.getElementById("slider");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>


    <!-- Vendor -->

    <!-- Vendor -->

    <script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js}"></script>
    <script th:src="@{/assets/javascript/star.js}" type="text/javascript"></script>
    <script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/assets/vendor/nanoscroller/nanoscroller.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/assets/vendor/magnific-popup/magnific-popup.js}"></script>
    <script th:src="@{/assets/vendor/jquery-placeholder/jquery.placeholder.js}"></script>
    <script th:src="@{/assets/vendor/pnotify/pnotify.custom.js}"></script>

    <!-- Specific Page Vendor -->

    <!-- Theme Base, Components and Settings -->
    <script th:src="@{/assets/javascripts/theme.js}"></script>

    <!-- Theme Custom -->
    <script th:src="@{/assets/javascripts/theme.custom.js}"></script>

    <!-- Theme Initialization Files -->
    <script th:src="@{/assets/javascripts/theme.init.js}"></script>
   <script th:src="@{/assets/javascripts/ui-elements/examples.notifications.js}"></script>


</section>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2019 - All Rights Reserved
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
